<h1 class="h1">Inscription</h1>
<form>
  <div class="form-group">
    <label for="uname">Pseudo : </label>
    <input type="text" class="form-control" id="uname" aria-describedby="nameHelp" placeholder="Entrer login" minlength="4" [(ngModel)]="login" name = "" required>
  </div>
  <div class="form-group">
    <label for="Password">Mot de passe</label>
    <input type="password" class="form-control" id="Password" placeholder="Password" minlength="4"  required>
  </div>
  <button type="submit" class="btn-validation">Enregistrer</button>
</form>
