<h1 class="h1">Connexion</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="userform" class="form">
  <div class="form-group">
    <label for="unamelogin">Pseudo : </label>
    <input aria-describedby="nameHelp" class="form-control" formControlName="username" id="unamelogin"
           placeholder="Entrer login"
           type="text">
    <span *ngIf="username.invalid && (username.dirty || username.touched)" class="badge-error">
      <i class="fas fa-exclamation"></i>
    </span>
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="tooltip-error">
      <p *ngIf="username.errors.minlength">Votre pseudo doit comporter 3 caractères !</p>
      <p *ngIf="username.errors.required">Champs obligatoire !</p>
    </div>
  </div>
  <div class="form-group">
    <label for="passwordlogin">Mot de passe</label>
    <input class="form-control" formControlName="password" id="passwordlogin" placeholder="Password" type="password">
    <span *ngIf="password.invalid && (password.dirty || password.touched)" class="badge-error">
      <i class="fas fa-exclamation"></i>
    </span>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="tooltip-error">
      <p *ngIf="password.errors.minlength">Votre pseudo doit comporter 3 caractères !</p>
      <p *ngIf="password.errors.required">Champs obligatoire !</p>
    </div>
  </div>
  <button [disabled]="!userform.valid || focus" class="btn-validation" type="submit">Se connecter</button>
</form>
