<div class="container-fluid homepage-container">
  <div class="row">
    <h1>
      Bonjour {{session.getUser().name}}
    </h1>
  </div>
  <div class="row">
    <h2>
      <i class="fas fa-user"></i>
      Mes projets récents
    </h2>
  </div>
  <app-recent-project></app-recent-project>
  <div class="row">
    <h2>
      <i class="fas fa-wrench"></i>
      Mes outils
    </h2>
  </div>
  <app-tools (newProject)="onNewProjectClick()"></app-tools>
</div>
<app-input-create-project (close)="createmode=false" *ngIf="createmode"></app-input-create-project>
