<div (keyup.escape)="onClose($event)" aria-hidden="true" aria-labelledby="exampleModalCenterTitle"
     class="modal fade show input-create-modal" id="exampleModalCenter" role="dialog"
     style="display: block" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg app-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h1 class="col-12" id="exampleModalLongTitle">Selection du matériau</h1>
          <div (click)="onClose($event)" class="close-modal">
            <i class="fas fa-times"></i>
          </div>
          <div class="mx-auto col-10 search-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
              </div>
              <input [(ngModel)]="filter" aria-describedby="basic-addon1" placeholder="Recherche" type="text">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-body">
        <app-materials (focus)="onSelectMaterial($event)" [expandMode]="false" [filter]="filter"></app-materials>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
