.app-table {
  margin: 0;
  color: #46e4c1;
  /*border-bottom: solid 3px;*/
}

.app-table * {
  border-color: #46e4c1 !important;
}

.app-table thead th {
  text-align: center;
  font-size: 28px;
  border-bottom-width: 3px;
  /*border-top-width: 3px;*/
  border-top: none;
}

.app-table td, .app-table th {
  border-left: solid 3px;
  width: 25%;
}

.app-table td:first-child, .app-table th:first-child {
  border-left: none;
}

.app-table tbody tr:hover {
  background-color: #646370;
}

.app-table td {
  font-size: 21px;
  padding-left: 15px;
}

.app-table .click {
  cursor: pointer;
  user-select: none;
}

.app-table .warn-click {
  color: #EFBCD5;
}

.app-table .tool-cell {
  text-align: right;
  padding-right: 15px;
}

.app-table .tool-cell > * {
  margin: 10px;
}
