.toolscontainer {
  margin-top: 30px;
}

.toolsbox:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.toolsbox {
  font-size: 24px;
  padding: 10px 0;
}

.tools {
  background-color: #46e4c1;
  color: white;
  margin: auto;
  width: 150px;
  height: 150px;
  font-size: 64px;
  line-height: 150px;
  border-radius: 100%;
  box-shadow: 0px 2px 10px 0px rgba(39, 38, 47, 0.75);
}
