<div class="row toolscontainer">
  <div class="col-4 text-center toolsbox" (click)="onNewProject()">
    <div class="tools">
      <i class="fas fa-plus"></i>
    </div>
    <span>Nouveau projet</span>
  </div>
  <div routerLink="/projects" class="col-4 text-center toolsbox">
    <div  class="tools">
      <i class="fas fa-search"></i>
    </div>
    <span>Explorer les projets</span>
  </div>
  <div routerLink="/collection" class="col-4 text-center toolsbox">
    <div class="tools">
      <i class="fas fa-th-list"></i>
    </div>
    <span>Collection</span>
  </div>
</div>
