<div class="row toolscontainer">
  <div (click)="onNewProject()" class="col-4 text-center toolsbox">
    <div class="tools">
      <i class="fas fa-plus"></i>
    </div>
    <span>Nouveau projet</span>
  </div>
  <div class="col-4 text-center toolsbox" routerLink="/projects">
    <div class="tools">
      <i class="fas fa-search"></i>
    </div>
    <span>Explorer les projets</span>
  </div>
  <div class="col-4 text-center toolsbox" routerLink="/collection">
    <div class="tools">
      <i class="fas fa-th-list"></i>
    </div>
    <span>Collection</span>
  </div>
</div>
