<div class="main container-fluid">
  <div [ngStyle]="{'transform': 'translateX(' + step + ')'}" class="forms row align-items-center">
    <app-login [focus]="focus!==Focus.LOGIN" class="col-4"></app-login>
    <div class="col-2 text-center changemode">
      <div (click)="moveFocus()" class="separator">
        <i [ngStyle]="{'transform': focus==Focus.REGISTER ? 'rotate(180deg)':'rotate(0deg)'}"
           class="fas fa-chevron-right"></i>
      </div>
      <div>
        <p *ngIf="focus==Focus.REGISTER">Déjà un compte ?</p>
        <p *ngIf="focus==Focus.LOGIN">Pas de compte ?</p>
      </div>
    </div>
    <app-register (submitOK)="onRegisterSubmit()" [focus]="focus!==Focus.REGISTER" class="col-4"></app-register>
  </div>
</div>

