<div class="main container-fluid">
  <div [ngStyle]="{'transform': 'translateX(' + step + ')'}" class="forms row align-items-center">
    <app-login class="col-4" [focus]="focus!==Focus.LOGIN"></app-login>
    <div class="col-2 text-center changemode">
      <div class="separator" (click)="moveFocus()">
        <i [ngStyle]="{'transform': focus==Focus.REGISTER ? 'rotate(180deg)':'rotate(0deg)'}"
           class="fas fa-chevron-right"></i>
      </div>
      <div>
        <p *ngIf="focus==Focus.REGISTER">Déjà un compte ?</p>
        <p *ngIf="focus==Focus.LOGIN">Pas de compte ?</p>
      </div>
    </div>
    <app-register class="col-4" [focus]="focus!==Focus.REGISTER"></app-register>
  </div>
</div>

