<div class="container-fluid pages-fixeonbar modelinkeditor" [ngClass]="{modelinkeditor: isLinkEditMode}">
  <div class="row">
    <div class="col-3 collections">
      <div class="row">
        <div class="mx-auto col-10 search-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
            </div>
            <input [(ngModel)]="filter" aria-describedby="basic-addon1" class="form-control" placeholder="Recherche"
                   type="text">
          </div>
        </div>
      </div>
      <div class="col-12 machine-list">
        <app-machine (focus)="onClickProject($event)" [detail]="false" [filter]="filter"></app-machine>
      </div>
      <div class="col-12 detail-list">
        <div class="row" *ngIf="machineFocus">
          <div class="col-12 mx-auto text-center"><h4>{{machineFocus.machine.name}}</h4></div>
          <div class="col-12">
            <h5>Entrées</h5>
            <div class="row" *ngFor="let int of machineFocus.machine.inputs">
              <div class="col-8">{{int.material.name}} (x{{int.needed}})</div>
            </div>
          </div>
          <div class="col-12">
            <h5>Sorties</h5>
            <div class="row" *ngFor="let out of machineFocus.machine.outputs ; let index = index;" >
              <div class="col-8">
                <div class="row">
                  <div class="col-10 outputline">
                    <div class="color-badge" [ngStyle]="{'background-color': color[index]}"></div>
                    {{out.material.name}} (x{{out.number}})
                  </div>
                  <div class="col-2 text-right">
                    {{out.time}}s
                  </div>
                </div>
              </div>
              <div class="col-4 text-right">
                <i (click)="onEditLinkMode(index, out)" class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 workspace">
      <app-workspace (linked)="stopLinkEditMode()" (focus)="machineFocus=$event"></app-workspace>
    </div>
  </div>
</div>
