.collections {
  padding-top: 15px;
  background: #3f3e4c;
  border-right: solid 4px #46e4c1;
  height: calc(100vh - 100px);
}


.row {
  margin: 0;
}

.collections {
}

.search-group input {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
}

.search-group input:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  outline: 0 !important;
  -webkit-appearance: none;
}

.search-group .input-group-text {
  background: #ffffff;
  border: none;
}

.search-group .input-group-text {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.machine-list {
  overflow-y: scroll;
  height: calc(60vh - 100px);
}

.detail-list {
  overflow-y: scroll;
  height: calc(40vh - 100px);
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 2px #46e4c1;
  color: #ffffff;
}

.color-badge {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.color-badge-red {
  background-color: red;
}

.outputline {
  padding-left: 0;
}
.modelinkeditor{
  cursor: crosshair;
}
