/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
body {
  background: #3f3e4c;
  width: 100%;
  margin: 0;
  height: 100vh;
}
.pages{
 padding-top: 110px;
}
.pages-fixeonbar{
  padding-top: 100px;
}
color-profile{
  color: #3f3e4c;
}
