<div (keyup.escape)="onClose()" aria-hidden="true" aria-labelledby="exampleModalCenterTitle"
     class="modal fade show input-create-modal" id="exampleModalCenter" role="dialog"
     style="display: block" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg app-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="isCreate()" class="modal-title">Nouveau matériaux</h1>
        <h1 *ngIf="!isCreate()" class="modal-title">Modifier matériaux</h1>
        <div (click)="onClose()" class="close-modal">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-black">
          <div class="form-group">
            <label for="unamematerial">Nom du Matériau : </label>
            <input aria-describedby="nameHelp" class="form-control" formControlName="materialname" id="unamematerial"
                   placeholder="Entrer un nom" type="text">
            <span *ngIf="materialname.invalid && (materialname.dirty || form.touched || materialname.touched)"
                  class="badge-error">
            <i class="fas fa-exclamation"></i>
          </span>
            <div *ngIf="materialname.invalid && (materialname.dirty || form.touched || materialname.touched)"
                 class="tooltip-error">
              <p *ngIf="materialname.errors.minlength">Votre pseudo doit comporter 3 caractères !</p>
              <p *ngIf="materialname.errors.required">Champs obligatoire !</p>
            </div>
          </div>
          <input *ngIf="isCreate()" class="btn-validation" type="submit" value="Création">
          <input *ngIf="!isCreate()" class="btn-validation" type="submit" value="Modifier">
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
